/Temp
/Packages
/obj
/.vscode
/.idea
/Library
".\\Assets\\packages/"
ProjectSettings/PresetManager.asset
RogueLikeDSP.sln.DotSettings.user
Temp/
etc/
Library/

# --- Godot / .NET ---
.godot/
GODOT/godot/.godot/
**/bin/
**/obj/
*.user
.vs/
.idea/
TestResults/
# --- GBA (Butano) ---
GBA/build/
GBA/*.gba
GBA/*.elf
GBA/core_tests
GBA/*.sav
GBA/scn*.gba
GBA/scn*.elf
GBA/build_scn*/
.claude/
__pycache__/
